@tailwind base;
@tailwind components;
@tailwind utilities;


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    @apply rounded-lg border-slate-700;
    padding: 5px 10px !important;
    font-size: small !important;
    border-radius: 0.3rem !important;
    border-color: blue !important;

}

thead {
    @apply bg-slate-300
}
thead > tr > th {
    @apply py-1.5 text-center
}

tbody > tr > td {
    @apply py-1.5 px-1
}
